# Telegram
TELEGRAM_BOT_TOKEN=

# AUTO.RIA
AUTORIA_API_KEY=

# Database (will be added when PostgreSQL is connected)
DATABASE_URL=

# App
MIN_YEAR=2012
MIN_MARKET_DISCOUNT_PERCENT=15
CHECK_INTERVAL_SECONDS=300
